*, *:before, *:after {    box-sizing: inherit;  }
:root {
    --primario: #B9B0CF;
    --secundario: #423566;
    --terciario: #9B9498;
    --fuente: #D2F8C0;
    --gris: #7B797B;
    --blanco: #ffffff;
}
/* general */
html {
    color: var(--gris);
    font-size: 62, 5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    /*background-color: var(--terciario);*/
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    width: 1.3rem;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {    background: #222224;  }

::-webkit-scrollbar-track {    background: #f9f9f9; }

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
h1 {    font-size: 1.8rem;}
h2 {
    font-size: 1.5rem;
    font-weight: 100;
}
h3 {
    font-size: 1rem;
    font-weight: 100;
}

h1, h2, h3 {    text-align: center; }
/*termina general*/

/*header*/
header h2 {  font-size: 1rem;   }

/*navegacion*/
.navegacion-principal {
    display: flex;
    flex-direction: column;
}

.titulo,
.subtitulo {    font-family: 'Breathing', sans-serif;    }

.titulo {
    font-weight: 150;
    font-size: 50px;
    color: var(--fuente);
}
.subtitulo {
    font-weight: 10;
    color: var(--secundario);
    font-size: 50px;
}
.nav-contenedor {
    display: flex;
    justify-content: center;
    color: var(--gris);
}
.nav-contenedor a {
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--secundario);
    background-color: var(--fuente);
    padding: 10px;
    margin: 0 5px;
    border-radius:12px;
}
.nav-contenedor a:hover {
    background-color: var(--fuente);
    color: var(--terciario);
}
/*hero*/
.hero-contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.hero-texto {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    font-size: 4rem;
    text-align: center;
}
.hero-imagen {
    flex: 1;
    align-items: right;
}
.hero-imagen img {
    max-width: 100%;
    height: auto;
}
.hero-texto p {
    text-align: center;
    margin-bottom: 20px;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    margin: 10px;
}

/*contenedor sobre mi*/
.contenedor-sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.texto-sobremi {
    font-size: 1.5rem;
    padding: 20px;
    color: var(--gris);
}
.imagen-sobremi {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.imagen-sobremi img {
    max-width: 70%;
    height: auto;
}

/*contenedor skills y educacion*/
.contenedor-skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}
.tarjeta{
    background-color: var(--primario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 350px;
    height: 600px;
}
.tarjeta:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.contenido-tarjeta {
    font-size: 10px;
    color: var(--gris);
}
.subtitulo-skills,
.subtitulo-educacion,
.subtitulo-tecnologias {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: var(--secundario);
}
.imagenes-tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagen-tarjeta {
    flex: 0 0 30%;
    box-sizing: border-box;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-tarjeta img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}
.texto-tarjeta {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #423566;
}
.texto-skills, 
.texto-tecnologias {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: var(--secundario);
}
.herramientas-contenedor,
.frameworks-contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
}
h4 {
    font-family: 'Poppins', sans-serif;

}


/*contenedor mis proyectos*/
.contenedor-proyectos {
    display: flex;
    flex-direction: row; /* Asegúrate de que esté configurado en 'row' */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaciado entre los botones */
}
.contenidoMostrar {
    display: none;
    padding: 10px;
    background-color: var(--secundario);
    margin-top: 10px;
}
.boton-proyecto {
    background-color: var(--secundario);
    color: var(--blanco);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 5 var(--gris);
    cursor: pointer;
    margin: 10px;
}
.subtitulo-proyecto {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--blanco);
}
.servicio,
.proyecto {
    display: none;
    color: var(--blanco);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

/*proyectos kidu y olympia*/
.text-center-1 {
    font-weight: 200;
}
.subtitulo-kidu {
    font-family: 'Breathing', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--secundario);
}
.contenido {   
    display: flex;
    padding-left: 5rem;  
}

.texto {
    flex: 1; 
    margin-right: 20px; 
}

.imagen {   flex: 0 0 35%; }

.imagen-kidu img {    max-width: 100%; }
.destacadas {
    display: flex;
    justify-content: center;
}

.destacadas img {
    max-width: 18%;
    height: auto;
    padding: 1rem;
}

#tranding {    padding: 4rem 0;  }

#tranding .tranding-slider {
    height: 49rem;
    padding: 2rem 0;
    position: relative;
}

.tranding-slide {
    width: 30rem;
    height: 38rem;
    position: relative;
}

.tranding-slide .tranding-slide-img img {
    width: 30rem;
    height: 42rem;
    border-radius: 5px;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px var(--secundario));
}
  
.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}
  
.tranding-slider-control .slider-arrow::after {
    content: '';
}
  
.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
}
  
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
  
.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--gris);
}

/*proyectos como desarrolladora*/
.container {
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor según sea necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}
.contenedor-proyecto {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}
.app {
    background-color: var(--primario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 375px;
    height: 200px;
}
.app:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.contenido-tarjeta {
    font-size: 10px;
    color: var(--gris);
}

.tecnologias-usadas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.tecno {
    background-color: var(--secundario);
    padding: 5px;
    margin: 5px;
}
.tecno:hover {
    transform: scale(1.1);
    box-shadow: 5px #222224;
}


/*
<div class="area-servicio">

                    <button id="mostrarBoton" class="boton-proyecto">
                        <h3 class="subtitulo-proyecto">Community Manager</h3>
                    </button>

                </div>

                <div class="area-proyecto">

                    <button id="mostrarBoton2" class="boton-proyecto">
                        <h3 class="subtitulo-proyecto">Desarrolladorar</h3>
                    </button>

                    <div id="contenidoMostrar2" class="contenidoMostrar">

                        
                    </div>
                </div>
*/

/*
.container {
    max-width: 1200px; 
    margin: 0 auto; 
}
.contenedor-proyecto {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}
.app {
    background-color: var(--primario);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(33.33% - 40px); 
    max-width: 375px; 
    margin: 20px; 
    height: 200px;
    box-sizing: border-box; 
}
*/

/*contenedor contacto*/
